@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&display=swap');

@import "tailwindcss";

@plugin "daisyui";
@theme{
    --font-header: Oswald, "sans-serif";
}

.text-black-color{
    color: #2E2B2C;
}

.bg-body-color{
    background-color:  #2E2B2C;
}

.label-sub-text-color{
    color: #757A7D;
}

.bg-white-color{
   background-color: #EAEAEA;
}

.text-white-color{
    color: #EAEAEA;
}






.btn-color{
    color: #EA7060;
}

.bred{
    border: 1px solid red;
}
.bblue{
    border: 1px solid blue;
}
.bgreen{
    border: 1px solid green;
}

